@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');



$blue: #4B5AAF;
$yelow: #FFD65D;
$red: #E62238;
$wh: #fff;


html
{
    font-size: 10px;
}

body
{
    font-family: Rubik;
    position: relative;
    color: $wh;
    background: linear-gradient(180deg, #5563b4 0%, #8D9EFF 100%);
}

.container
{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 0;
}
.mt
{
    margin-top: 0px;
}
.flex
{
    display: flex;
    justify-content: center;
}


.header
{
    margin: 0 auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%;
    top: 0;
    z-index: 2;
 
    &__sdr
    {
        align-self: center;
        text-transform: uppercase;
        font-size: 80px;
        font-weight: 700;
        color: $wh;
        letter-spacing: 5px;
    }
}
.container-but
{
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 0;
    height: 5000px;
}
.flex-but
{
    display: flex;
    justify-content: center;
    padding-bottom: 250px;
    padding-top: 250px;
}
.but
{
    text-decoration: none;
    color: $wh;
    text-transform: uppercase;  
    padding: 10px 150px;
    font-size: 40px;
    display: inline-block;
    font-weight: 700;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    letter-spacing: 5px;
    &:hover
    {
        box-shadow: 0 0 10px $wh, 0 0 40px $wh, 0 0 80px $wh;
        background-color: $wh;
        color: #8D9EFF;
        text-shadow: 0 0 10px #8D9EFF, 0 0 40px #8D9EFF;
        transition-delay: 0.75s;
    }
}
.but-line
{
    position: absolute;
    display: block;
}
.but-top
{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, $wh);
}
.but:hover .but-top 
{
    left: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.but-bot
{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(280deg, transparent, $wh);
}
.but:hover .but-bot 
{
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.but-left
{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(0deg, transparent, $wh);
}
.but:hover .but-left
{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.but-right
{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, $wh);
}
.but:hover .but-right
{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.flex-text
{
    display: flex;
    justify-content: center;
    padding-bottom: 250px;
    margin-top: 750px;
    flex-direction: column;
}
.text
{
    font-size: 32px;
    font-weight: 400;
    padding: 60px;
}
.text-center
{
    align-self: center;
    transform:translateY(100px);
}
.text-right
{
    align-self: end;
    transform:translateX(100px);
}
.text-left
{
    transform:translateX(-100px);
}
.text-but
{
    text-decoration: none;
    color: $wh;
    transform: scale(0.9);
    transition: 0.3s;
    &:hover
    {
        transform: scale(1.1);
    }
}
.img
{
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    width: auto;
    height: 300px;
    &-1
    {
        bottom: 550px;
        right: 0px;
        transform:translateX(100px);
    }
    &-2
    {
        bottom: 650px;
        left: 0px;
        height: 250px;
        transform:translateX(-100px);
    }
    &-3
    {
        bottom: 650px;
        left: 500px;
        transform:translateY(-100px);
    }
    &-4
    {
        bottom: 250px;
        left: 50px;
        transform:translateY(100px);
    }
    &-5
    {
        bottom: 150px;
        right: 50px;
        transform:translateY(100px);
    }
}

#player
{
    margin-top: 500px;
    padding-top: 400px;
}
.controls 
{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}
  
.player-button 
{
    background-color: transparent;
    border: 0;
    width: 12em;
    height: 12em;
    cursor: pointer;
    padding: 0;
    transform: scale(1.2);
    &:hover
    {
        transform: scale(1.2);
    }
}
  
.element-animation
{
    opacity: 0;
    transition: 2s;
}
.element-show
{
    opacity: 1;
    transform:translateX(0px);
    transform:translateY(0px);
    transform:translateZ(0px);
    transform: scale(1);
}
